---
title: Welcome to Bradley's Domain
pageable: true
per_page: 10
---
.row
  .twelve.columns#bio
    %img(src="/images/blog/Bradley_Sheehan.jpg")
    .bio-content
      %h4
        Greetings!
      %p
        I'm a Ruby on Rails developer finishing up a six-month intensive web development program in Denver gSchool, run by Jeff Casimir and Jumpstart Lab.  I am eager to match my talents with a company in Boston.
      %p
        In particular, I'm looking for a team that invests in the growth of its employees and contributes to open source.  As a junior developer, it's also important to me that I find a collaborative environment that encourages pair-programming, and follows test-driven and iterative product development.
      / %h3
      /   Bradley

.row
  .twelve.columns
    - page_articles.each_with_index do |article, i|
      .row
        -if i.even?
          .seven.columns.panel
            %p
              %h3
                = link_to article.title, article
                %span= article.date.strftime('%b %e')
              .article-summary
                = article.summary
          .four.image_panel.image_right.right
            %img(src="#{article.data.image}")
        -else
          .four.image_panel.image_left.left
            %img(src="#{article.data.image}")
          .seven.columns.panel
            %p
              %h3
                = link_to article.title, article
                %span= article.date.strftime('%b %e')
              .article-summary
                = article.summary


.change-page
  - if prev_page
    %p
      = link_to 'Previous', prev_page

  - if paginate
    - if next_page
      %p= link_to 'Next', next_page
