---
title: Welcome to Bradley's Domain
pageable: true
per_page: 10
---
.row
  .twelve.columns
    - page_articles.each_with_index do |article, i|
      .row
        -if i.even?
          .seven.columns.panel
            %p
              %h3
                = link_to article.title, article
                %span= article.date.strftime('%b %e')
              .article-summary
                = article.summary
          .four.image_panel.image_right.right
            %img(src="#{article.data.image}")
        -else
          .four.image_panel.image_left.left
            %img(src="#{article.data.image}")
          .seven.columns.panel
            %p
              %h3
                = link_to article.title, article
                %span= article.date.strftime('%b %e')
              .article-summary
                = article.summary


.change-page
  - if prev_page
    %p
      = link_to 'Previous', prev_page

  - if paginate
    - if next_page
      %p= link_to 'Next', next_page
